html{
    background-color: rgb(183, 192, 183);
}
header{

    padding: 10px;
    background-color:rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
nav ul a{
    flex: 1;
    text-decoration: none;
    outline-color: transparent;
    text-align: center;
    line-height: 3;
    color: white;
    padding: 10px;
}
.container {
    
    padding: 40px;
    width: 90%; /* Ajusta a largura do container à largura da tela */
    max-width: 500px; /* Define a largura máxima do container */
    margin: 0 left; /* Centraliza o container na página */
    
  }
  h1{
    text-align: center;
  }
  img {
    border-radius: 10%;
    display: block; /* Para remover qualquer espaço extra abaixo da imagem */
    width: 100%; /* Garante que a imagem ocupe 100% da largura do container */
    height: auto; /* Mantém a proporção da imagem */
  }